/* Colors for my Website */

@white: #ffffff;
@red: #ef4035;
@red-trans: rgba(239,64,53,0.57);
@gray: #cccccc;
@black: #252525;
@back-black: #000000;

/* Fonts for my Website */

@base-font: 'Lato', sans-serif;
@accent-font: 'Montserrat', sans-serif;

html {
    font-family: @base-font;
    background-color: @black;
    color: @white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.outer-container {
    overflow: hidden;
}

.container {
    max-width: 1200px;
    margin: auto;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.big-btn {
    display: inline-block;
    font-family: @accent-font;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none; 
    text-transform: uppercase;
    color: @white;
    padding: 18px 47px;
    background-color: @red;
    border: 2px solid transparent;
    transition-duration: 0.3s;
}
    
.big-btn:hover {
    background-color: transparent;  
    border-color: @red;
}