.entry-section {
    background-image: url(/app/img/homebg1.jpg);
    background-size: cover;
    padding: 200px 0 150px;
    text-align: center;
    
    .entry-section__company-name {
        display: block;
        font-family: @accent-font;
        font-size: 130px;
        font-weight: 700;
        letter-spacing: 1.3px;
        margin-bottom: 40px;
    }
    
    .entry-section__company-motto {
        display: block;
        font-size: 24px;
        font-weight: 700;
        letter-spacing: 7px;
        margin-bottom: 50px;
    }
    
    .big-btn {
        display: inline-block;
        font-family: @accent-font;
        font-size: 14px;
        font-weight: 700;
        text-decoration: none; 
        text-transform: uppercase;
        color: @white;
        padding: 18px 47px;
        background-color: @red;
        transition-duration: 0.1s;
    }
    
    .big-btn:hover {
        background-color: transparent;  
        outline: solid 2px @red;
        outline-offset: -2px;
    }
}

.numbered_section {
    padding: 130px 0 100px;
    
    .numbered_section__number-wrapper {
        font-family: @accent-font;
        font-weight: 700;
        opacity: 0.2;
        
        .numbered_section__number {
            font-size: 72px;
        }

        .numbered_section__caption {
            letter-spacing: 1.5px;
        }
    }
    
    .numbered_section__title {
        font-family: @accent-font;
        font-size: 92px;
        font-weight: 700;
        line-height: 100px;
        word-wrap: break-word;
    }
    
    .numbered_section__title:after {
            display: block;
            content: '';
            height: 1px;
            width: 240px;
            background-color: @white;
        margin: 60px 0 70px 10px;
        }
}

.about-us_section {
    background-image: url(/app/img/homebg2.jpg);
    background-size: cover;
    background-color: @red;
}

.partners-section {
    background-color: @red;
    padding-top: 100px;
    padding-bottom: 100px;
    
    .partners-section__item-image {
        max-width: 100%;
        opacity: 0.7;
        transition-duration: 0.3s;
    }
    
    .partners-section__item-image:hover {
        opacity: 1;
    }
}